<mat-card>
  <mat-card-header>
    <h4>Genereer een incasso batchbestand</h4>
  </mat-card-header>
<mat-card-content>
  <p>Maak een bestand aan dat door het on-line bankieren bij de bank kan worden geïmporteerd. Dit programma 
    werkt samen met de <strong>Toernooi Assistent</strong> en
    hoort daar vanuit opgestart te zijn. Een geldig incasso contract met de bank is vereist.
  </p>
  <p>
    Het incassanten account en incassanten id zijn gegevens die door de bank verstrekt worden. De incasso records
    worden op de achtergrond aangeleverd door de Toernooi Assistent.
  </p>
  <p>Wij raden je als je voor de eerste keer gaat innen door middel van incasso om eerst een proefincasso te doen.
    De betreffende accountgegevens blijven bewaard voor als je de echte incasso gaat doen. Zie de optie <strong>Proef</strong> bovenaan.
  </p>
  <p>
    Pas als je alle gegevens juist hebt ingevuld wordt de knop <strong>Maak aan</strong> ingeschakeld. 
    Klik daar op en vervolgens wordt een link naar het betreffende incasso batchbestand in een mail naar de 
    penningmeester verstuurd. Die kan dan het aanhangesel opslaan op zijn PC en vervolgens
    in het on-line bankieren van de betreffende bank invoeren. In de meeste mailprogramma's moet je met de rechter
    muisknop op de link klikken voor de gewenste download.
  </p>
  <p>
    Nieuw is dat je het bestand nadat het aangemaakt is ook direct kunt downloaden door op de dan verschenen link te klikken.
  </p>
  <p>
    Het vakje <strong>Indicatie meegeven voor periodiek herhaalbaar</strong> kun je aanvinken als de bank incasso records weigert. 
    Je kunt proberen de geweigerde incasso's daarmee alsnog weer aan te bieden vanuit de Toernooi Assistent. Zorg er zelf voor 
    dat je alleen de geweigerde incasso's weer aanbiedt en geen incasso records dubbel incassert. Dat is niet leuk voor spelers
    in kwestie! 
  </p>
</mat-card-content>
</mat-card>
<mat-card>
<mat-card-header>
  <h4>Samenwerking met de Toernooi Assistent</h4>
</mat-card-header>
<mat-card-content>
  De eigenlijke betaalrecords voor het incassobestand worden vanuit de Toernooi Assistent gegenereerd.
  Daaarbij worden de betreffende personen altijd op <strong>betaald</strong> gezet. 
  De TA biedt de volgende mogelijkheden:
  <ul>
    <li>Incasso - records worden gemaakt van personen die nog niet op <strong>betaald</strong> staan.</li>
    <li>Incasso ALLE - records worden gegenereerd van iedereen, betaald of niet betaald. 
      Je maakt dan (nog) geen gebruik van de mogelijkheid om bij te houden wie betaald heeft en wie niet.</li>
    <li>Proefincasso - incasso testen onafhankelijk van de Toernooi Assistent.</li>
    <li>Alle personen tegelijk weer op <strong>NIET</strong> betaald zetten zodat je met een schone lei opnieuw kunt beginnen.</li>
    <li>In het spelerformulier (F2 of F3) kun je spelers individueel op wel of niet betaald zetten.</li> 
  </ul>

</mat-card-content>
</mat-card>