<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayoutAlign="center" >
  <div class="mat-app-background" fxFlex="700px">

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Toernooi Assistent Incasso</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" routerLink="/selectinc">Incasso</button>
        <button mat-raised-button color="primary" routerLink="/selectproef">Proef</button>
        <button mat-raised-button color="primary" routerLink="/help">Help</button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>

  </div>
</div>


